<div class="container">
    <h1 class="my-5">Update Inventory Item</h1>

  <!-- START of card -->
  <div class="card">
    <div class="card-body">
      <form action="/inventory/update" method="POST">
        <!-- NOTE: uncomment input when you're working on the API  and add the EJS-->
        <!-- <input name="id" value="" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->

        <!-- START of Searchable Dropdown FOR FactoryID -->
        <div class="form-group">
          <label for="inventory-view-factoryID">Factory</label>
          <div class="ui fluid search selection dropdown">
            <input required value="" type="hidden" name="factoryID" id="inventory-view-factoryID" >
            <i class="dropdown icon"></i>
            <div class="default text">Select a Factory</div>
            <div class="menu">
              <div class="item" data-value="Goa"> Goa</div>
              <div class="item" data-value="India"> India</div>
              <div class="item" data-value="Venezuela"> Venezuela</div>
            </div>
          </div>
        </div>
        <!-- END of Searchable Dropdown -->

        <!-- START of Searchable Dropdown FOR CheeseID -->
        <div class="form-group">
          <label for="inventory-view-cheeseID">Cheese Type</label>
          <div class="ui fluid search selection dropdown">
            <input required value="" type="hidden" name="cheeseID" id="inventory-view-cheeseID" >
            <i class="dropdown icon"></i>
            <div class="default text">Select a Cheese Type</div>
            <div class="menu">
              <div class="item" data-value="Blue Cheese"> Blue Cheese</div>
              <div class="item" data-value="Gouda"> Gouda</div>
              <div class="item" data-value="Mozzarella"> Mozzarella</div>
            </div>
          </div>
        </div>
        <!-- END of Searchable Dropdown -->


        <div class="form-group">
          <label for="inventory-view-quantity-initial">Initial Quantity</label>
          <input required name="quantityIntiial"  type="number" class="form-control" id="inventory-view-quantity-initial" placeholder="Enter how much stock you're adding to stock"></input>
        </div>

        <div class="form-group">
          <label for="inventory-view-quantity-remaining">Remaining Quantity</label>
          <input required name="quantityRemaining"  type="number" class="form-control" id="inventory-view-quantity-remaining" placeholder="Enter how much stock is remaining"></input>
        </div>

        <div class="form-group">
          <label for="inventory-view-manufacturing-cost">Manufacturing Cost</label>
          <input required name="manufacturigCost"  type="number" class="form-control" id="inventory-view-manufacturing-cost" placeholder="Enter the cost of production for this batch"></input>
        </div>

        <div class="mt-5 mb-3">
          <button type="submit" class="btn btn-primary">Update</button>
          <form action="/inventory/archive" method="POST">
            <!-- <input name="id" value="" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
            <button type="submit" class="btn btn-danger">Archive Record</button>
          </form>
        </div>

      </div>

    </form>
    </div>
  <!-- END of card -->

</div>

<!-- START of card -->
<!-- END of card -->
